:root {
  font-family: "Atkinson Hyperlegible Next", system-ui, -apple-system, "Segoe UI",
    Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #ffffff;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}
